.content{
	width: 556px;
	margin: 0 auto;
}
.game-field{
	border: 1px solid  #000;
}
.game-field td{
	min-width: 40px;
	min-height: 30px;
	height: 30px;
	border: 1px solid  #000;
}
.game-field td.active{
	background: #000;
}
.info-block{
	position: absolute;
	left: 0;
	right: 0;
	top: 262px;
	margin: auto;
	height: 41px;
	text-align: center;
	color: black;
	background: white;
	padding: 16px 0;
	width: 550px;
	font-family: arial;
	text-transform: uppercase;
	word-spacing: 8px;
	font-size: 35px;
}